# bin files
bin/

leaderboard.txt
src/audio_files/ram_ranch_46.mp3

# Machine specifics, different JRE vers. on different machnines

# JDT-specific (Eclipse Java Development Tools)     
.classpath

settings/
